# Compiled executables
kvstore
*.out
*.exe

kvstore.snapshot

# Object/build files
*.o
*.obj

# CMake/build directories for later phases
build/
cmake-build-*/

# Editor/OS junk
documentation.md
.vscode/
.idea/
.DS_Store